name: nightly

on:
  # schedule:
  # - cron: "0 0 * * *" # nightly At 00:00
  workflow_dispatch:

jobs:
  nightly-build:
    name: nightly-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Golang with cache
        id: golang-with-cache
        uses: magnetikonline/action-golang-cache@v4
        with:
          go-version-file: go.mod

      - name: trigger build
        run: make build

      - uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: linux
          goarch: amd64
          pre_command: export GODEBUG=http2client=0
          build_command: make build-nightly
          release_tag: nightly
          release_name: nightly
          goversion: "1.20"
          overwrite: true
          retry: 10

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build nightly image
        uses: docker/build-push-action@v4
        with:
          context: .
          tags: "ehco1996/ehco:nightly"
          push: true
          file: build/Dockerfile
