name: normal

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.19
        id: go

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: lint
        run: make lint

      - name: test
        run: make test


  build-latest-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Build x86 image
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: ehco1996/ehco
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: "latest"
          dockerfile: build/Dockerfile

      - uses: actions/checkout@master
      - name: Build arm image
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: ehco1996/ehco
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: "arm64"
          dockerfile: build/arm.Dockerfile
