<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ehco Relay Monitoring and Management Interface">
    <title>Ehco Web - {{ (CurrentCfg).NodeLabel }}</title>

    <!-- External CSS Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.min.css" integrity="sha512-cUO34H2dGvX9k/Q0jPYyoVdg0KzN2DREe70u9B_9JkRgoG_GwqE+U9y2WcMv7QGkXPS/rWbF0N7V_PZREAtp2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css" integrity="sha512-MQXduO8IQnJVq1qmySpN87QQatiRZrKxh9gU4xKPlbDpeVTgDXpWktCmS_RkH3rL38h_C/H_A_iH/0S_O2XpXQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- External JS Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js" integrity="sha512-K/oyQtMXpxI4+K0W7H25UopjM8LqGNgWNOuH3hQhK_f_d/lqUvjB6lZ2QhD17P4A22qVlXgGdxB+T6fR/hNxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-CQBWl4fJNTNpkGuAUV+YMSM/h7jM/P9f701MdxzB_70oR8R_sQ/KAAh/G33bQx8k+U/8vLvL4UvxQ/g9c7zSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512-CryKbMe7sjSCDPl18jtE40A5BCj/2Q7K/H7+OwsC1kM5ySbb4aV7J5/NlL_DMR0H7tL/A+K/Hj0/QW/Nq3+pA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js" integrity="sha512-hD9NlYhBfT6g_v9Kl718Mv5vB6E+zS+hV+n7Q4O+GgLg2w0iG0rW+W+Xp9V8P/q88ZfT/hM8cKxXn9sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Custom JS (if any, load after libraries) -->
    <!-- <script src="/static/js/custom.js"></script> -->
</head>
