<nav class="navbar is-fixed-top app-navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title is-4">Ehco Relay</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuEhco">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenuEhco" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>
                <a class="navbar-item" href="/rules/">
                    <span class="icon"><i class="fas fa-list-alt"></i></span>
                    <span>Rules</span>
                </a>
                <a class="navbar-item" href="/rule_metrics/">
                    <span class="icon"><i class="fas fa-chart-line"></i></span>
                    <span>Monitor</span>
                </a>
                <a class="navbar-item" href="/logs/">
                    <span class="icon"><i class="fas fa-file-alt"></i></span>
                    <span>Logs</span>
                </a>
                <a class="navbar-item" href="/connections/?conn_type=active">
                    <span class="icon"><i class="fas fa-network-wired"></i></span>
                    <span>Connections</span>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-cogs"></i></span>
                        <span>System</span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="/metrics/">
                            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                            <span>Node Metrics</span>
                        </a>
                        <a class="navbar-item" href="/debug/pprof/">
                            <span class="icon"><i class="fas fa-bug"></i></span>
                            <span>Debug pprof</span>
                        </a>
                        <a class="navbar-item" href="/api/v1/config/" target="_blank">
                            <span class="icon"><i class="fas fa-file-code"></i></span>
                            <span>View Config</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                if ($target) {
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                } else {
                    console.warn('Navbar target not found: ', target);
                }
            });
        });
    });
</script>
