<!DOCTYPE html>
<html>
    <head>
        <title>Connections</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        />
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
        ></script>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">All Connections ({{.Count}})</h1>

                {{if gt .Count 0}}
                <div class="box">
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Relay Label</th>
                                <th>Flow</th>
                                <th>Stats</th>
                                <th>Time</th>
                                <th>Closed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Data}}
                            <tr>
                                <td>{{.GetRelayLabel}}</td>
                                <td>{{ .Flow }}</td>
                                <td>{{ .Stats }}</td>
                                <td>{{.GetTime}}</td>
                                <td>{{if .Closed}}Yes{{else}}No{{end}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                {{end}}
                <!-- 分页 -->
                <div class="columns is-vcentered is-mobile">
                    <div class="column">
                        <div class="field is-horizontal">
                            <div class="field-label is-small">
                                <label class="label">每页数量:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-expanded">
                                        <div class="select is-small">
                                            <select id="pageSizeSelect">
                                                <option
                                                    {{if
                                                    eq
                                                    .PageSize
                                                    10}}selected{{end}}
                                                    value="10"
                                                >
                                                    10
                                                </option>
                                                <option
                                                    {{if
                                                    eq
                                                    .PageSize
                                                    20}}selected{{end}}
                                                    value="20"
                                                >
                                                    20
                                                </option>
                                                <option
                                                    {{if
                                                    eq
                                                    .PageSize
                                                    50}}selected{{end}}
                                                    value="50"
                                                >
                                                    50
                                                </option>
                                                <option
                                                    {{if
                                                    eq
                                                    .PageSize
                                                    100}}selected{{end}}
                                                    value="100"
                                                >
                                                    100
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <nav
                            class="pagination is-small"
                            role="navigation"
                            aria-label="pagination"
                        >
                            {{if gt .Prev 0}}
                            <a
                                class="pagination-previous"
                                href="?page={{.Prev}}&page_size={{.PageSize}}"
                                >Previous</a
                            >
                            {{end}} {{if .Next}}
                            <a
                                class="pagination-next"
                                href="?page={{.Next}}&page_size={{.PageSize}}"
                                >Next</a
                            >
                            {{end}}
                            <ul class="pagination-list">
                                <li>
                                    <a class="pagination-info">
                                        <label class="label is-small"
                                            >当前页:{{.CurrentPage}}</label
                                        >
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <script>
            document.getElementById('pageSizeSelect').addEventListener('change', function() {
                window.location.href = '?page=' + {{.CurrentPage}} + '&page_size=' + this.value;
            });
        </script>
    </body>
</html>
